<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Travel history</h4>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="">
                  <th>Name</th>
                  <th>From</th>
                  <th>To</th>
                  <th>Cost</th>
                  <th>Date</th>
                  <th>Comments</th>
                </thead>
                <tbody *ngFor="let t of history">
                  <td>{{ t?.client.login }}</td>
                  <td>{{ t.pointA }}</td>
                  <td>{{ t.pointB }}</td>
                  <td>{{ t.price }}</td>
                  <td>{{ t.date | date}}</td>
                  <td>{{ t.clientComment }}</td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
