<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title ">Requests from Clients</h4>
      </div>
      <div *ngIf="clientRequests == null || clientRequests.length == 0">
        <h5> For now you do not have any Requests. </h5>
      </div>
      <div class="col-md-4" *ngFor="let menuItem of clientRequests">

<span class="card card-profile" >
<div class="pt-4">
<div class="card-body" >

<div class="card-avatar">

<a style="cursor:pointer" (click)="onClient(menuItem.id)">
<img class="img" src="../assets/img/faces/marc.jpg" />
</a>
</div>
<div class="card-body" style="align:right">
<h6 class="card-category text-gray">{{ menuItem?.client?.login }}</h6>

<h4 class="card-title">From: {{ menuItem.pointA}}</h4>
<h4 class="card-title">To: {{ menuItem.pointB}}</h4>
<h4 class="card-title">Price: {{ menuItem.price}}</h4>
<a class="btn btn-danger btn-round" style="cursor:pointer" (click)="acceptRequest(menuItem.id)">Accept</a>
</div>
</div>
</div></span>
      </div></div>
  </div>
</div>
