<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title"> Current Requests </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover" *ngIf="requests">
                <thead class="">
                <th>ID</th>
                <th>From</th>
                <th>To</th>
                <th>Cost</th>
                <th>Type</th>
                </thead>
                <tbody *ngFor="let request of requests" style="cursor:pointer" (click)="onEdit(request)">
                <td>{{ request?.id }}</td>
                <td>{{ request?.pointA }}</td>
                <td>{{ request?.pointB }}</td>
                <td>{{ request?.price }}</td>
                <td  *ngIf="request?.longTerm==true">Long Term</td>
                <td  *ngIf="request?.longTerm!=true">Regular</td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
