<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title"> Make an offer </h4>
          </div>
          <div class="card-body">
            <form [formGroup]="driverForm" (ngSubmit)="onSubmit()" class="col-sm-13">
              <div class="form-group row">
                <label class="col-sm-3" for="pointA">
                  Point A
                </label>
                <ng-select [items]="this.streets"
                           bindLabel="streetName"
                           bindValue="streetName"
                           formControlName='pointA'
                           class="col-sm-8"
                            id="pointA">
                </ng-select>
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="pointB">
                  Point B
                </label>
                <ng-select [items]="this.streets"
                           bindLabel="streetName"
                           bindValue="streetName"
                           formControlName='pointB'
                           class="col-sm-8"
                           id="pointB">
                </ng-select>
              </div>
              <div class="form-group row">
                <label class="col-sm-3" for="price">
                  Price
                </label>
                <div class="col-sm-6">
                  <input type="text" formControlName='price' id="price" class="form-control">
                </div>
              </div>
              <button class="btn btn-primary btn-sm float-right" type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
