
<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">

      </div>
      <div class="col-md-4 mt-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="/">
              <img class="img" src="../assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Driver's Name</h6>
            <h4 class="card-title">Price</h4>
            <a href="/" class="btn btn-danger btn-round">Order</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="/">
              <img class="img" src="../assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Driver's Name</h6>
            <h4 class="card-title">Price</h4>
            <a href="/" class="btn btn-danger btn-round">Order</a>
          </div>
        </div>
      </div>
    </div>
  </div>
